<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-WlVqOyuQnX8O4Yydbg1Ch51Tz6z5Cq4</string>
	<key>GCM_SENDER_ID</key>
	<string>701933233833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sudarshansaur.dealer.saurDealer</string>
	<key>PROJECT_ID</key>
	<string>sudarshan-saur</string>
	<key>STORAGE_BUCKET</key>
	<string>sudarshan-saur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701933233833:ios:d640de5c007792b094abb8</string>
	<key>DATABASE_URL</key>
	<string>https://sudarshan-saur-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>